@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");

.font {
  font-family: "Noto Sans SC", sans-serif;
}

.container {
  margin: 60px 0;
}

.card {
  margin: 0 2% !important;
  z-index: 1;
}

.infected {
  border-bottom: 15px solid #575fcf;
}

.recovered {
  border-bottom: 15px solid #ffdd59;
}

.deaths {
  border-bottom: 15px solid #ff3f34;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
