body {
  background-color: #000000;
  margin: 0 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.tvo.org/prod/s3fs-public/styles/full_width_1280/public/media-library/covid.jpg?cHZuG_q3tLxhVEfVlkLh5raMPd1fuoxK");
  background-size: cover;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
